<div>
    <label id="dataTypeRadioLabel">Select data type being created</label>
    <mat-radio-group aria-labelledby="dataTypeRadioLabel" class="radio-group" name="dataType"
        [(ngModel)]="selectedDataType">
        <mat-radio-button class="radio-button" [value]="0">Jutsu</mat-radio-button>
        <mat-radio-button class="radio-button" [value]="1">Spell</mat-radio-button>
        <mat-radio-button class="radio-button" [value]="2">File</mat-radio-button>
        <mat-radio-button class="radio-button" [value]="3">Monster</mat-radio-button>
    </mat-radio-group>
</div>
<mat-card class="mat-elevation-z8" *ngIf="isJutsu || isSpell || isFile || isMonster"
    style="width: 80%; text-align: center; margin-left: auto; margin-right: auto;">
    <mat-card-content>
        <div *ngIf="isJutsu" style="width: 100%; text-align: center; margin-left: 0; margin-right: 0;">
            <mat-form-field>
                <input matInput placeholder="Jutsu Name" name="jName" [(ngModel)]="jutsuName">
            </mat-form-field><br />
            <mat-form-field>
                <mat-label>Jutsu Release(Style)</mat-label>
                <mat-select [(ngModel)]="release" name="jRelease">
                    <mat-option *ngFor="let release of releases" [value]="release.value">
                        {{ release.key }}
                    </mat-option>
                </mat-select>
            </mat-form-field><br />
            <mat-form-field>
                <mat-label>Jutsu Rank</mat-label>
                <mat-select [(ngModel)]="jutsuRank" name="jRank">
                    <mat-option *ngFor="let rank of ranks" [value]="rank.value">
                        {{ rank.key }}
                    </mat-option>
                </mat-select>
            </mat-form-field><br />
            <mat-form-field>
                <input matInput placeholder="Chakra Cost" name="cost" [(ngModel)]="cost">
            </mat-form-field><br />
            <mat-form-field>
                <input matInput placeholder="Jutsu Range" name="jrange" [(ngModel)]="jRange">
            </mat-form-field><br />
            <mat-form-field>
                <input matInput placeholder="Jutsu Duration" name="jduration" [(ngModel)]="jDuration">
            </mat-form-field><br />
            <mat-form-field style="width: 40%;">
                <textarea matInput rows="5" cols="50" class="description" placeholder="Jutsu Description"
                    name="jdescription" [(ngModel)]="jDescription"></textarea>
            </mat-form-field><br />
        </div>
        <div *ngIf="isSpell" style="width: 100%; text-align: center; margin-left: 0; margin-right: 0;">
            <mat-form-field>
                <input matInput placeholder="Spell Name" name="sName" [(ngModel)]="spellName">
            </mat-form-field><br />
            <mat-form-field>
                <mat-label>Spell School</mat-label>
                <mat-select [(ngModel)]="spellSchool" name="school">
                    <mat-option *ngFor="let school of schools" [value]="school.value">
                        {{ school.key }}
                    </mat-option>
                </mat-select>
            </mat-form-field><br />
            <mat-form-field>
                <mat-label>Spell Level</mat-label>
                <mat-select [(ngModel)]="spellLevel" name="level">
                    <mat-option *ngFor="let spell of newArray(); let i = index" [value]="i">
                        {{ i }}
                    </mat-option>
                </mat-select>
            </mat-form-field><br />
            <mat-form-field>
                <input matInput placeholder="Spell Range" name="sRange" [(ngModel)]="sRange">
            </mat-form-field><br />
            <mat-form-field>
                <input matInput placeholder="Spell Duration" name="sDuration" [(ngModel)]="sDuration">
            </mat-form-field><br />
            <mat-form-field>
                <input matInput placeholder="Casting Time" name="cTime" [(ngModel)]="castingTime">
            </mat-form-field><br />
            <mat-form-field>
                <input matInput placeholder="Components" name="components" [(ngModel)]="components">
            </mat-form-field><br />
            <mat-form-field appearance="fill">
                <mat-label>Classes</mat-label>
                <mat-select [formControl]="classes" multiple>
                    <mat-option *ngFor="let class of classList" [value]="class.value">{{class.key}}</mat-option>
                </mat-select>
            </mat-form-field>
            <br />
            <mat-form-field style="width: 40%;">
                <textarea matInput rows="5" cols="50" class="description" placeholder="Spell Description"
                    name="sDescription" [(ngModel)]="sDescription"></textarea>
            </mat-form-field><br />
        </div>
        <div *ngIf="isFile" style="width: 100%; text-align: center; margin-left: 0; margin-right: 0;">
            <input #file type="file" id="file" (change)="handleFileInput($event.target.files)"><br />
            <br />
        </div>
        <div *ngIf="isMonster" style="width: 100%; text-align: center; margin-left: 0; margin-right: 0;">
            <mat-form-field>
                <input matInput placeholder="Monster Name" name="mName" [(ngModel)]="monsterCommonName">
            </mat-form-field><br />
            <mat-form-field>
                <mat-label>Monster Type</mat-label>
                <mat-select [(ngModel)]="monsterType" name="type">
                    <mat-option *ngFor="let type of monsterTypes" [value]="type.value">
                        {{ type.key }}
                    </mat-option>
                </mat-select>
            </mat-form-field><br />
            <mat-form-field>
                <input matInput placeholder="Monster Subtype" name="monsterSubType" [(ngModel)]="monsterSubType">
            </mat-form-field><br />
            <mat-form-field>
                <mat-label>Monster Alignment</mat-label>
                <mat-select [(ngModel)]="monsterAlignment" name="alignment">
                    <mat-option *ngFor="let alignment of alignments" [value]="alignment.value">
                        {{ alignment.key }}
                    </mat-option>
                </mat-select>
            </mat-form-field><br />
            <mat-form-field>
                <mat-label>Monster Size</mat-label>
                <mat-select [(ngModel)]="monsterSize" name="size">
                    <mat-option *ngFor="let size of sizes" [value]="size.value">
                        {{ size.key }}
                    </mat-option>
                </mat-select>
            </mat-form-field><br />
            <mat-form-field>
                <input matInput placeholder="Monster Speed" name="monsterSpeed" [(ngModel)]="monsterSpeed">
            </mat-form-field><br />
            <mat-form-field>
                <input matInput placeholder="Armor Class" name="monsterArmorClass" [(ngModel)]="monsterArmorClass">
            </mat-form-field><br />
            <mat-form-field>
                <input matInput placeholder="Monster Health" name="monsterHealth" [(ngModel)]="monsterHealth">
            </mat-form-field><br />
            <mat-form-field>
                <input matInput placeholder="Monster Hit Dice" name="monsterHitDice" [(ngModel)]="monsterHitDice">
            </mat-form-field><br />
            <mat-form-field>
                <input matInput placeholder="Monster Strength" name="monsterStrength" [(ngModel)]="monsterStrength">
            </mat-form-field><br />
            <mat-form-field>
                <input matInput placeholder="Monster Dexterity" name="monsterDexterity" [(ngModel)]="monsterDexterity">
            </mat-form-field><br />
            <mat-form-field>
                <input matInput placeholder="Monster Constitution" name="monsterConstitution"
                    [(ngModel)]="monsterConstitution">
            </mat-form-field><br />
            <mat-form-field>
                <input matInput placeholder="Monster Intelligence" name="monsterIntelligence"
                    [(ngModel)]="monsterIntelligence">
            </mat-form-field><br />
            <mat-form-field>
                <input matInput placeholder="Monster Wisdom" name="monsterWisdom" [(ngModel)]="monsterWisdom">
            </mat-form-field><br />
            <mat-form-field>
                <input matInput placeholder="Monster Charisma" name="monsterCharisma" [(ngModel)]="monsterCharisma">
            </mat-form-field><br />
            <mat-form-field>
                <input matInput placeholder="Monster Challenge Rating" name="monsterChallengeRating"
                    [(ngModel)]="monsterChallengeRating">
            </mat-form-field><br />
            <mat-form-field>
                <input matInput placeholder="Monster EXP Value" name="monsterExpValue" [(ngModel)]="monsterExpValue">
            </mat-form-field><br />
            <mat-form-field style="width: 40%;">
                <textarea matInput rows="5" cols="50" class="description" placeholder="Monster Skills"
                    name="monsterSkills" [(ngModel)]="monsterSkills"></textarea>
            </mat-form-field><br />
            <mat-form-field style="width: 40%;">
                <textarea matInput rows="5" cols="50" class="description" placeholder="Monster Saving Throws"
                    name="monsterSavingThrows" [(ngModel)]="monsterSavingThrows"></textarea>
            </mat-form-field><br />
            <mat-form-field style="width: 40%;">
                <textarea matInput rows="5" cols="50" class="description" placeholder="Monster Damage Immunities"
                    name="monsterDamageImmunities" [(ngModel)]="monsterDamageImmunities"></textarea>
            </mat-form-field><br />
            <mat-form-field style="width: 40%;">
                <textarea matInput rows="5" cols="50" class="description" placeholder="Monster Damage Resistances"
                    name="monsterDamageResistances" [(ngModel)]="monsterDamageResistances"></textarea>
            </mat-form-field><br />
            <mat-form-field style="width: 40%;">
                <textarea matInput rows="5" cols="50" class="description" placeholder="Monster Damage Vulnerabilities"
                    name="monsterDamageVulnerabilities" [(ngModel)]="monsterDamageVulnerabilities"></textarea>
            </mat-form-field><br />
            <mat-form-field style="width: 40%;">
                <textarea matInput rows="5" cols="50" class="description" placeholder="Monster Condition Immunities"
                    name="monsterConditionImmunities" [(ngModel)]="monsterConditionImmunities"></textarea>
            </mat-form-field><br />
            <mat-form-field style="width: 40%;">
                <textarea matInput rows="5" cols="50" class="description" placeholder="Monster Senses"
                    name="monsterSenses" [(ngModel)]="monsterSenses"></textarea>
            </mat-form-field><br />
            <mat-form-field style="width: 40%;">
                <textarea matInput rows="5" cols="50" class="description" placeholder="Monster Languages"
                    name="monsterLanguages" [(ngModel)]="monsterLanguages"></textarea>
            </mat-form-field><br />
            <mat-form-field style="width: 40%;">
                <textarea matInput rows="5" cols="50" class="description" placeholder="Monster Abilities"
                    name="monsterAbilities" [(ngModel)]="monsterAbilities"></textarea>
            </mat-form-field><br />
            <mat-form-field style="width: 40%;">
                <textarea matInput rows="5" cols="50" class="description" placeholder="Monster Attacks"
                    name="monsterAttacks" [(ngModel)]="monsterAttacks"></textarea>
            </mat-form-field><br />
            <mat-form-field style="width: 40%;">
                <textarea matInput rows="5" cols="50" class="description" placeholder="Monster Legendary Actions"
                    name="monsterLegendaryActions" [(ngModel)]="monsterLegendaryActions"></textarea>
            </mat-form-field><br />
        </div>
        <button mat-raised-button color="primary" (click)="addRecord()">Add
            Record</button>
    </mat-card-content>
</mat-card>