.center-div {
    height: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    height: 50%;
    width: 25%;
    justify-content: center;
}

.login-field {
    align-items: center;
    width: 100%;
}