<div class="center-div">
    <mat-card appearance="outlined" class="login-card">
        <mat-card-content>
            <form>
                <mat-form-field class="login-field">
                    <mat-label>Username</mat-label>
                    <input type="email" matInput [formControl]="usernameFormControl" [errorStateMatcher]="matcher"
                        placeholder="Username">
                </mat-form-field>
                <br />
                <mat-form-field class="login-field">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher"
                        placeholder="Password">
                </mat-form-field>
            </form>
            <button class="left-align-button" mat-flat-button class="tertiary" (onclick)="clear()">Clear</button>
            <button class="right-align-button" mat-flat-button (onclick)="login()">Login</button>
        </mat-card-content>
    </mat-card>
</div>
<div class="center-div">
    <img ngSrc="img/dungeons-dragons-logo.png" alt="logoAlt" width="512" height="256" />
</div>