<div>
    <mat-card class="mat-elevation-z8" style="width: 50%; text-align: center; margin-left: auto; margin-right: auto;">
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
            <form>
                <mat-form-field>
                    <input matInput name="Username" placeholder="Username" [(ngModel)]='username'>
                </mat-form-field><br />

                <mat-form-field>
                    <input matInput name="password" type="password" placeholder="Password" [(ngModel)]='password'>
                </mat-form-field><br />
                <button mat-raised-button color="primary" (click)="login()">Login</button>
                <button mat-raised-button color="accent" (click)="register()">Register</button>
                <br />
                <br />
                <button mat-raised-button color="warn" (click)="resetDialog()">Reset Account Info</button>
            </form>
        </mat-card-content>
    </mat-card>
    <div *ngIf="!isMobile" style="width: 50%; text-align: center; margin-left: auto; margin-right: auto;">
        <img class="images" src="/assets/dungeons-dragons-logo.jpg" />
    </div>
    <div *ngIf="isMobile" style="width: 65%; text-align: center; margin-left: auto; margin-right: auto;">
        <img class="images" src="/assets/dungeons-dragons-logo_mobile.jpg" />
    </div>
</div>