<mat-card *ngIf="activeCharacter" [ngClass]="this.viewService.getIsMobileResolution() ? 'isMobile' : 'isNotMobile'">
    <mat-card-title>{{ activeCharacter.name }}</mat-card-title>
    <mat-card-content>
        <div>
            <mat-grid-list cols="2" rowHeight="2:1" *ngIf="!this.viewService.getIsMobileResolution()">
                <mat-grid-tile>
                    <div>
                        <span><b>STR</b>: {{ activeCharacter.strength.abilityScore }}
                            ({{ activeCharacter.strength.abilityModifier }})
                        </span>
                        <br />
                        <span><b>DEX</b>:{{ activeCharacter.dexterity.abilityScore }}
                            ({{ activeCharacter.dexterity.abilityModifier }})
                        </span>
                        <br />
                        <span><b>CON</b>:{{ activeCharacter.constitution.abilityScore }}
                            ({{ activeCharacter.constitution.abilityModifier }})
                        </span>
                        <br />
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div>
                        <span><b>INT</b>:{{ activeCharacter.intelligence.abilityScore }}
                            ({{ activeCharacter.intelligence.abilityModifier }})
                        </span><br />
                        <span><b>WIS</b>:{{ activeCharacter.wisdom.abilityScore }}
                            ({{ activeCharacter.wisdom.abilityModifier }})
                        </span><br />
                        <span><b>CHA</b>:{{ activeCharacter.charisma.abilityScore }}
                            ({{ activeCharacter.charisma.abilityModifier }})
                        </span><br />
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
            <button mat-icon-button (click)="displayCharacter()">
                <mat-icon aria-hidden="false" aria-label="Charcter_Expansion">all_out</mat-icon>
            </button>
        </div>
    </mat-card-content>
</mat-card>