<mat-toolbar color="primary">
    <span [style]="{'font-size': '30px', 'font-weight': 'bold'}">QualiDnD</span>
    <span class="main-user-login-menu"></span>
    @if (isLoggedIn) {
        <button mat-button><i class="material-icons" (click)="toDashboard()">home</i></button>
    }

    <mat-menu #settingsMenu="matMenu" yPosition="below">
        <button mat-menu-item (click)="toUser()">My Account</button>
        @if (isAdmin) {
            <button mat-menu-item (click)="toAdmin()">Administration</button>
        }
        <button mat-menu-item (click)="openDiceRoller()">Dice Roller</button>
        <button mat-menu-item (click)="openReferenceDialog()">Reference</button>
        <!--<button mat-menu-item *ngIf='isAdmin' (click)="toEncounterCalculator()">Encounter Calculator</button>-->
        <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
    @if (isLoggedIn) {
        <button mat-button [matMenuTriggerFor]="settingsMenu"><i class="material-icons">person</i>{{ username }} </button>
    }
</mat-toolbar>