<blockquote>
    <div>
        <h1>ChangeLog</h1>
        <div>
            <h3>5.0.0</h3>
            <ul>
                <li>Moved application to Azure app service</li>
                <li>Fixed typos related to the BloodHunter class</li>
                <li>Fixed issues identified by the linter</li>
                <li>The application is much more mobile friendly with multiselect dropdowns</li>
                <li>Application frontend now utilizes Angular framework</li>
            </ul>
        </div>
        <div>
            <h3>4.3.2</h3>
            <ul>
                <li>Fixed an issue caused by the workflow update that caused the admin functions to display
                    twice on the homepage. As well as display the dashboard character below the initiative
                    tracker</li>
            </ul>
        </div>
        <div>
            <h3>4.3.1</h3>
            <ul>
                <li>Fixed an issue caused by the workflow update that prevented the edit character popup
                    from functioning properly</li>
            </ul>
        </div>
        <div>
            <h3>4.3.0</h3>
            <ul>
                <li>Made some workflow changes, i.e. the app is no longer single page and riddled with
                    modals</li>
            </ul>
        </div>
        <div>
            <h3>4.2.3</h3>
            <ul>
                <li>Fixed JS issue where the character on the dashboard has the wrong modifiers based on
                    their raw score</li>
            </ul>
        </div>
        <div>
            <h3>4.2.2</h3>
            <ul>
                <li>Fixed Encounter Calculator so it wouldn't continually populate the list with the same
                    data</li>
            </ul>
        </div>
        <div>
            <h3>4.2.1</h3>
            <ul>
                <li>Had to provide bug fixes based on past updates that broke compatibility</li>
            </ul>
        </div>
        <div>
            <h3>4.2.0</h3>
            <ul>
                <li>Updated how some data is retrieved making it overall better</li>
                <li>Updated the Dashboard so that the character's modifier can be seen next to the raw score
                </li>
            </ul>
        </div>
        <div>
            <h3>4.1.0</h3>
            <ul>
                <li>Changing how things load on the homepage, mostly unnoticeable changes from User
                    perspective</li>
            </ul>
        </div>
        <div>
            <h3>4.0.0</h3>
            <ul>
                <li>Updated the UI so the User's active character is on the dashboard</li>
                <li>Updated dashboard to be able to track various resources including exhaustion, madness,
                    Melly Mel uses, and more.</li>
                <li>Fixed compatibility issues that arose after adding the dashboard character view</li>
            </ul>
        </div>
        <div>
            <h3>3.2.0</h3>
            <ul>
                <li>Updated the UI for a User's Character Details in the account modal</li>
            </ul>
        </div>
        <div>
            <h3>3.1.0</h3>
            <ul>
                <li>Updated how the Encounter Calculator works</li>
                <li>Frontend Cleanup that the user may not notice, but helps nonetheless</li>
                <li>Backend Cleanup that the user may not notice, but helps nonetheless</li>
            </ul>
        </div>
        <div>
            <h3>3.0.0</h3>
            <ul>
                <li>Adding Difficulty Encounter Calculator</li>
            </ul>
        </div>
        <div>
            <h3>2.3.0</h3>
            <ul>
                <li>Entities in the tracker are now clickable to update maxHealth, rather than filling-in a
                    form</li>
                <li>Admin can now add characters as-is to the tracker (i.e. the roll, maxHealth, and name)
                </li>
                <li>Fixed a bug where an infinite loop was created if all the entities in the tracker died
                </li>
                <li>Moved the reference files to the menu to reduce clutter</li>
            </ul>
        </div>
        <div>
            <h3>2.2.1</h3>
            <ul>
                <li>Fixed Bug where initiative tracker wouldn't display creature maxHealth for admin</li>
            </ul>
        </div>
        <div>
            <h3>2.2.0</h3>
            <ul>
                <li>Implemented small session config to prevent premature logout</li>
            </ul>
        </div>
        <div>
            <h3>2.1.0</h3>
            <ul>
                <li>Frontend enhancements</li>
            </ul>
        </div>
        <div>
            <h3>2.0.0</h3>
            <ul>
                <li>Added Multiclass support</li>
            </ul>
        </div>
        <div>
            <h3>1.2.0</h3>
            <ul>
                <li>Updated initiative tracker, now if a creature is dead and the "Next Creature" button is
                    selected
                    it will skip the dead creature automatically</li>
            </ul>
        </div>
        <div>
            <h3>1.1.0</h3>
            <ul>
                <li>Updated Initiative button to allow the user to roll with advantage, disadvantage or have
                    a straight roll</li>
            </ul>
        </div>
    </div>
</blockquote>