<div>
    <h2 style="text-align: center;">Document Store</h2>
    <div mat-dialog-content>
        <form>
            <mat-radio-group name="documentRadioGroup" [(ngModel)]="selectedDocType">
                <mat-radio-button [value]="'classDocs'">Class Documents</mat-radio-button>
                <mat-radio-button [value]="'spellDocs'">Spell Documents</mat-radio-button>
                <mat-radio-button [value]="'miscDocs'">Miscellaneous Documents</mat-radio-button>
            </mat-radio-group>
            <br />
            <br />
            <span *ngIf="noneSelected">
                <mat-form-field>
                    <mat-label>Document</mat-label>
                    <mat-select [(ngModel)]="selectedDoc" name="docType">
                        <span *ngIf="selectedDocType === 'classDocs'">
                            <mat-option *ngFor="let doc of classDocList" [value]="doc.value">
                                {{ doc.key }}
                            </mat-option>
                        </span>
                        <span *ngIf="selectedDocType === 'spellDocs'">
                            <mat-option *ngFor="let doc of spellDocList" [value]="doc.value">
                                {{ doc.key }}
                            </mat-option>
                        </span>
                        <span *ngIf="selectedDocType === 'miscDocs'">
                            <mat-option *ngFor="let doc of miscDocList" [value]="doc.value">
                                {{ doc.key }}
                            </mat-option>
                        </span>
                    </mat-select>
                </mat-form-field>
            </span>
            <br />
        </form>
        <div>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button color="warn" [matDialogClose]>Close</button>
        <button mat-button color="primary" (click)="getDoc()">Get Document</button>
    </div>
</div>