.mat-cell {
  text-align: left !important;
}

.mat-header.cell {
  text-align: center !important;
}

th.mat-sort-header-sorted {
  color: black;
}

td.is-green {
    background-color: greenyellow;
}

td.is-white {
    background-color: white;
}