table {
  width: 100%;
  display: block;
  max-height: 250px;
  overflow-y: scroll;
}

.mat-cell {
  text-align: center !important;
}

.mat-header.cell {
  text-align: center !important;
}

th.mat-sort-header-sorted {
  color: black;
}

td.is-green {
    background-color: greenyellow;
}

td.is-white {
    background-color: white;
}

.table-fixed thead th {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.initiativeTableContainer{
  max-height: 250px;
}