<mat-card class="mat-elevation-z8 offset-1"
    style="width: 80%; text-align: center; margin-left: auto; margin-right: auto;" *ngIf="!isMobile">
    <mat-card-title>Hello {{ firstname }}!</mat-card-title>
    <mat-card-content>
        <mat-grid-list cols="2">
            <mat-grid-tile style="height: auto;">
                <div>
                    <mat-form-field>
                        <input matInput #miscBonusField name="Misc Bonus" placeholder="Misc Bonus"
                            [(ngModel)]='miscBonus' />
                    </mat-form-field>
                    <mat-menu #initiativeMenu="matMenu" yPosition="below">
                        <button mat-menu-item (click)="rollInitiative(0)">Roll Initiative</button>
                        <button mat-menu-item (click)="rollInitiative(1)">Roll Initiative w/ Advantage</button>
                        <button mat-menu-item (click)="rollInitiative(-1)">Roll Initiative w/ Disadvantage</button>
                    </mat-menu>
                    <br />
                    <mat-menu #adminMenu="matMenu" yPosition="below">
                        <button mat-menu-item (click)="nextCreature()">Next Creature</button>
                        <button mat-menu-item (click)="concludeBattle()">Conclude Battle</button>
                        <button mat-menu-item (click)="forceUpdate()">Force Update</button>
                    </mat-menu>
                    <button mat-raised-button color="primary" *ngIf="allowInitiative || isAdmin"
                        [matMenuTriggerFor]="initiativeMenu">Initiative Menu</button>
                    <button mat-raised-button color="accent" *ngIf="isAdmin" [matMenuTriggerFor]="adminMenu">Admin
                        Menu</button>
                    <br />
                    <app-initiative-table [initTable]="initTable" (allowInitiative)="setAllowInitiative($event)">
                    </app-initiative-table>
                </div>
            </mat-grid-tile>
            <mat-grid-tile style="width: 100%; height: auto;">
                <app-dashboard-character [activeCharacter]="activeCharacter"
                    (characterEmitter)="fetchCharacter()">
                </app-dashboard-character>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
</mat-card>
<mat-card class="mat-elevation-z8 offset-1"
    style="width: 80%; text-align: center; margin-left: auto; margin-right: auto;" *ngIf="isMobile">
    <mat-card-title>Hello {{ firstname }}!</mat-card-title>
    <mat-card-content>
        <div>
            <mat-form-field>
                <input matInput #miscBonusField name="Misc Bonus" placeholder="Misc Bonus" [(ngModel)]='miscBonus' />
            </mat-form-field>
            <mat-menu #initiativeMenu="matMenu" yPosition="below">
                <button mat-menu-item (click)="rollInitiative(0)">Roll Initiative</button>
                <button mat-menu-item (click)="rollInitiative(1)">Roll Initiative w/ Advantage</button>
                <button mat-menu-item (click)="rollInitiative(-1)">Roll Initiative w/ Disadvantage</button>
            </mat-menu>
            <br />
            <mat-menu #adminMenu="matMenu" yPosition="below">
                <button mat-menu-item (click)="nextCreature()">Next Creature</button>
                <button mat-menu-item (click)="concludeBattle()">Conclude Battle</button>
                <button mat-menu-item (click)="forceUpdate()">Force Update</button>
            </mat-menu>
            <button mat-raised-button color="primary" *ngIf="allowInitiative || isAdmin"
                [matMenuTriggerFor]="initiativeMenu">Initiative Menu</button>
            <button mat-raised-button color="accent" *ngIf="isAdmin" [matMenuTriggerFor]="adminMenu">Admin
                Menu</button>
            <br />
            <app-initiative-table [initTable]="initTable" (allowInitiative)="setAllowInitiative($event)">
            </app-initiative-table>
        </div>
        <br />
        <app-dashboard-character [activeCharacter]="activeCharacter" (characterEmitter)="fetchCharacter()">
        </app-dashboard-character>
    </mat-card-content>
</mat-card>
<br />
<mat-card *ngIf="isAdmin" class="mat-elevation-z8 offset-1"
    style="width: 80%; text-align: center; margin-left: auto; margin-right: auto;">
    <mat-card-content>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    NPC Initiative
                </mat-panel-title>
            </mat-expansion-panel-header>
            <span class="radioBox">
                <mat-radio-group name="NPCType" [(ngModel)]="npcType">
                    <mat-radio-button class="radio-related" [value]="0">Freeform</mat-radio-button>
                    <mat-radio-button class="radio-related" (click)="prepareFilteredMonsters()" [value]="1">From
                        Database</mat-radio-button>
                </mat-radio-group>
            </span>
            <div *ngIf="freeForm">
                <mat-grid-list cols="2" rowHeight="2:1">
                    <mat-grid-tile>
                        <form>
                            <mat-form-field>
                                <input #npcNameField matInput name="NPC Name" placeholder="NPC Name"
                                    [(ngModel)]='npcName'>
                            </mat-form-field><br />
                            <mat-form-field>
                                <input #npcHealthField matInput name="NPC Health" placeholder="NPC Health"
                                    [(ngModel)]='npcHealth'>
                            </mat-form-field><br />
                            <mat-form-field>
                                <input #npcDexBonusField matInput name="NPC DEX Bonus" placeholder="NPC DEX Bonus"
                                    [(ngModel)]='npcDexBonus'>
                            </mat-form-field><br />
                        </form>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
            <div *ngIf="fromDatabase">
                <mat-form-field>
                    <input matInput placeholder="Monster" name="monster" [matAutocomplete]="monComplete"
                        [formControl]="monsterControl">
                    <mat-autocomplete autoActiveFirstOption #monComplete="matAutocomplete">
                        <mat-option *ngFor="let monster of filteredMonsters | async" (click)="describeMonster(monster)"
                            [value]="monster.commonName">
                            {{monster.commonName}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <br />
                <button mat-raised-button color="warn" (click)="resetMonster()">Reset
                    Selection</button>
            </div>
            <div *ngIf="hasSelectedMonster" style="text-align: left;">
                <br />
                <span><b>{{this.selectedMonster.commonName}}</b></span><br />
                <span [innerHtml]='this.describeSizeTypeAlignment(this.selectedMonster) | safeHtml'></span><br />
                <p>
                    <span><b>Armor Class:</b> {{this.selectedMonster.armorClass}}</span><br />
                    <span><b>Health:</b> {{this.selectedMonster.health}}</span><br />
                    <span><b>Speed:</b> {{this.selectedMonster.speed}}</span><br />
                </p>
                <p [innerHtml]='this.describeAllAbilities(this.selectedMonster) | safeHtml'></p>
                <p [innerHtml]='this.describeInateAbilities(this.selectedMonster) | safeHtml'></p>
                <p [innerHtml]='this.describeFeatures(this.selectedMonster) | safeHtml'></p>
                <p [innerHtml]='this.describeActions(this.selectedMonster) | safeHtml'></p>
            </div>
            <div *ngIf="freeForm || (fromDatabase && hasSelectedMonster)">
                <br />
                <button mat-raised-button color="primary" [matMenuTriggerFor]="NPCInitiativeMenu">
                    Initiative Menu
                </button>
                <mat-menu #NPCInitiativeMenu="matMenu" yPosition="below">
                    <button mat-menu-item (click)="rollNpcInitiative(1)">Roll Initiative w/
                        Advantage</button>
                    <button mat-menu-item (click)="rollNpcInitiative(0)">Roll Initiative</button>
                    <button mat-menu-item (click)="rollNpcInitiative(-1)">Roll Initiative w/
                        Disadvantage</button>
                </mat-menu>
            </div>
        </mat-expansion-panel>
    </mat-card-content>
</mat-card>
<br />
<app-ability-search></app-ability-search>
<br />
<br />